.todo-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  background-color: lightgray;

  &__card {
    flex-direction: column;
  }

  input {
    height: 40px;
    width: 200px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 35px;
  }

  button {
    position: relative;
    font-style: oblique;
    color: rgb(252, 248, 248);
    font-size: 1.2rem;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #0056b3;
    transition: background-color 0.3 ease;

    &:hover {
      background-color: #82b1e3;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
    min-width: 400px;
    border: 2px solid;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(197, 214, 228);
    button {
      margin-top: 5px;
      background-color: #0056b3;

      &:hover {
        background-color: #82b1e3;
      }
    }
  }
}
